.App {
  margin-top: 200px;
  text-align: center;
}
button{
  padding: 15px 0px;
  width: 200px;
  background: rgb(227, 126, 255);
  color: white;
 font-family: 'Arial, sans-serif';
 border-radius: 10px;
 cursor: pointer;
 
}
button:hover{
  background-color: rgb(106, 5, 134);
  
}
.p1{
  font-size: 2rem;
  font-family: sans-serif;
  color: rgb(88, 1, 1);
  
}
.div{
  color: bisque;
  font-size: 1.5rem;
  text-align: center;
}
p{
  width: 500px;
  text-align: center;
  margin-left: 510px;
}
